@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&family=Quicksand:wght@600;700&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDD5D8; 
    margin: 0;
    min-height: 100vh;
}

.centrado {
    display: flex;
    flex-direction: column;
    height: 500px;
 

    justify-content: center;
    align-items: center;

}

h1 {
    font-size:  80px;
}

p {
    font-size: 2rem;
    padding-bottom: 5%;
}


#inicio {
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 5% 15% 0% 15%;
    padding: 10% 20% 10% 20%;
    text-align: center;
    color: white;
} 

#inicio h1{
    font-size: 50px;
}

h1{
    text-align: center;
}

p#pregunta{    
    text-align:center;
    margin: 0 auto;
    margin-bottom: 2%;
}

#botonVirus {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
    display: flex;
    font-size: 80px; 
    background-color: rgb(64, 202, 64);
    color:yellow;
    border-color: yellow;
    border-width: 20px;
}

#main {
    text-align: center;
    background-color: #FCF4F0;
    padding: 2% 3%;
    height: 20%;
    border: 5px solid #FCF4F0;
    border-radius: 20px;
    box-shadow: 0 0 5px #FCF4F0;

}


.botones{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    padding-top: 1%;
    justify-content: space-evenly;
   
} 

.botones button{
    margin-bottom: 5%;
    size: 1.5em;
    border: 2px solid #EDD5D8;
    border-radius: 30px;
    box-shadow: 0 0 5px #EDD5D8;
    font-size: 1.5rem;
    padding: 5% 0; 
}

.botones button:hover{
    background-color: gray;
}